.shape-note {
    background: linear-gradient(38.86deg, rgba(44, 51, 58, 0.4) 12.15%, rgba(18, 20, 22, 0.4) 55.36%, rgba(19, 21, 23, 0.4) 55.36%);
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.04), inset 2px 3px 12px rgba(7, 7, 9, 0.5);
    -webkit-clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    width: 60%;
    height: 70%;
    background-color: 'black';
    border-radius: 15px;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    position: absolute;
    overflow:hidden;
}

.green-hit-note-area {
    /* overflow: hidden; */
    height: 0px;
    width: 100%;
    transition: height 350ms linear 0s;
    background: linear-gradient(180deg, #00FF6C 0%, #219653 100%);
    box-shadow: 5px -28px 120px #27AE60, 5px -5px 40px #219653, -2px 0px 0px rgba(111, 207, 151, 0.6), 0 0 0 1px #fff inset;
    border-radius: 15px;
}